:root {
  --font-color: #b7dade;
}

body {
  background-color: #2f2f2f;
  color: var(--font-color) !important;
  font-family: "Roboto" !important;
  height: 100%;
}

.game {
  user-select: none;

  width: 900px;
}

.game__board {
  margin: 5px auto 0 50px;
  border: #b7dade 1px solid;
}

.game__score {
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  font-size: 2rem;
  font-weight: bold;
}

.game__score > pre {
  overflow: hidden;
}

.game__controls {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin: 1rem 50px 0 50px;
}

.game__controls > .play_button {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  border-color: transparent;
}

.game__controls > .play_button__icon {
  background: url(../assets/play-button.svg) no-repeat center;
}

.game__controls > .pause_button__icon {
  background: url(../assets/pause-button.svg) no-repeat center;
}

.game__controls > .reset_button__icon {
  background: url(../assets/reset-button.svg) no-repeat center;
}

.game__controls > .play_button:hover {
  filter: saturate(4);
}

.game__controls > .play_button:active {
  filter: saturate(8);
}

.game__controls > .progress__bar {
  background-color: #eee;
  width: 100%;
  height: 4rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
}

.game__controls > .progress__bar > .progress__bar__fill {
  background-color: #ebb913;
  height: 100%;
  border-radius: 0.5rem;
}

.game__controls > .timer {
  width: 5rem;
  height: 5rem;

  font-size: 2rem;
  font-weight: bold;

  margin-top: 1rem;
  margin: 1rem 0.5rem 0 0;
}

._modal {
  position: absolute;
  z-index: 1000;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 55px auto 0 50px;

  width: 800px;
  height: 450px;
  background-color: rgba(238, 238, 226, 0.2);

  color: var(--font-color);
  font-weight: bold;
}

._modal > .modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._modal > .modal__content > input {
  width: 50%;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #121212;
  padding: 0.05rem;
  padding-left: 0.5rem;

  font-size: 1.25rem;
}

._modal > .modal__content > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

._modal > .modal__content > p {
  color: var(--font-color);
}

._modal > .modal__content > .modal__input {
  /* border: 1px solid #ebb913; */
  border-radius: 0.1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(35, 37, 50);
}

._modal > .modal__content > .modal__input:hover {
  filter: saturate(4) brightness(1.2) contrast(1.2);
}

.model > .modal__content > .modal__input:checked {
  filter: saturate(8) brightness(1.4) contrast(1.4);
  outline: 1px solid #ebb913;
}

._modal > .modal__content > .click__to__start {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--font-color);
}

.modal__active {
  display: flex;
}

.modal__inactive {
  display: none;
}

.share__link {
  font-size: 1.5rem;
  background: rgba(79, 79, 73, 0.2);
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0 0.5rem 0 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: all;
  cursor: pointer;
}

.share__link:hover {
  filter: saturate(4) brightness(1.2) contrast(1.2);
  color: #eee;
}

.share__link:active {
  filter: saturate(8) brightness(1.4) contrast(1.4);
  color: #eee;
}

.game_result {
  font-size: 2rem;
  font-weight: bold;
}

.modal__won {
  background-color: rgba(0, 255, 0, 0.2);
}

.modal__lost {
  background-color: rgba(255, 0, 0, 0.2);
}

.modal__tied {
  background-color: rgba(255, 255, 0, 0.2);
}

._footer {
  background: #1d1c1c;
  padding: 30px 0px;
  text-align: center;
  width: 900px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._footer .footer__media {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

._footer .footer__media a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

._footer .footer__media a:hover {
  color: #fff;
}

._footer .footer__media ul {
  width: 100%;
}

._footer .footer__media ul li {
  display: inline-block;
  margin: 0px 30px;
}

._footer .footer__media a i {
  font-size: 2em;
  margin: 0% 1%;
}

._footer .footer__open__source {
  color: #fff;
}

._footer .footer__open__source a {
  color: gray;
  text-decoration: none;
  transition: 0.5s;
}

@media (max-width: 720px) {
  ._footer {
    text-align: left;
    padding: 5%;
  }
  ._footer .footer__media ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  ._footer .footer__media a i {
    margin: 0% 3%;
  }
}

svg {
  #fly {
    animation: scale 1s infinite;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}
